body {
    font-family:'Times New Roman', Times, serif, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: #e67979;
    text-align: center;
    background-color: ghostwhite;
    margin: 0%;
    
}

.car {
    display: inline-block;
    margin: 20px;
    padding: 20px;
    border: 1px solid #e0a8a8;
    background-color: blanchedalmond;

}

img {
    max-width: 300px;
    box-shadow: #e67979;
    border: #e67979;
}
